<h3> 登陆页面</h3>

<form id="login" name="login" method="post" action="login">
    <table>
        <tr>
            <td> 用户名</td>
            <td>
                <input type="text" id="name" name="name" value="$!{user.name}" size="10">
            </td>
        </tr>
        <tr>
            <td>
                年龄
            </td>
            <td>
                <input type="text" id="age" name="age" value="$!{user.age}" size="10">
            </td>
        </tr>
        <tr>
            <td><input type="submit" name="submit" value="登陆"/></td>
        </tr>
    </table>

</form>

<script type="text/javascript">
    var loginMe = function () {
        jQuery("login").submit();
    }
</script>
